<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PenIsland.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PenIsland.Properties.Settings>
            <setting name="ColorPlayer1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorPlayer2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorPlayer3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorPlayer4" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="ColorPlayer5" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ColorPlayer6" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ColorPlayer7" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="ColorPlayer8" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="ColorPlayer9" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="ControllerPlayer1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerPlayer9" serializeAs="String">
                <value>0</value>
            </setting>
        </PenIsland.Properties.Settings>
    </userSettings>
</configuration>